t1 {
    font-size: 200%;
    text-align:center;
    color:green;
  }
  
header {
  font-size: 150%;
  color:#ffffff;
  text-align:center;
  }

.button{
    height:35px;
    width:200px;
    background-color: #1F521F;
    color: #FFFFFF;
    text-transform:uppercase;
}
.formButtons{
    height:30px;
    width:150px;
}
.back{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
      